.navbar {
  display: 'flex';
  align-items: 'center';
  width: '100%';
  font-size: '24px';
  font-weight: 'bold';
  color: '#00df9a';
}
.login {
  display: 'flex';
  align-items: 'center';
  margin-top: '10px';
  text-align: 'center';
  font-size: '24px';
  font-weight: 'bold';
  line-height: '1.5';
  color: '#333';
}
